html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ECEEF1;
    font-family: 'Lato', sans-serif;
}

h1 {
    letter-spacing: 5px;
    color: rgb(143, 142, 145);
}
/* SIGNIN */

.sign-in {
display: flex;
justify-content: flex-end;

}

.sign-in button {
    width: 30%;
}

/* SIGNUP */
.sign-up {
    width: 380px;
    margin: 0 auto;
    height: 80%;
}

.sign-up h1 {
    text-align: center;
}

.my-form{
   padding: 25px;
   color: #505050;

}

.header-icon {
    padding-right: 10px;

}


.sign-up h2 {
    font-size: 24px;
    color: #4C4C4C;
    line-height: 1.1;
    text-align: center;
    font-weight: 400;
    margin: 30px auto;

}

.sign-up .form-description {
    color: #4C4C4C;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin: 10px auto;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    font-size: 20px;
}

.mint-icons a {
    text-decoration: none;
    color: rgb(126, 126, 126);

}


/* FORM */

form {
    background-color: white;
    border: 1px solid lightgray;
}

.size {
    width: 98%;
    height: 28px;
    border-radius: 1px;
    box-shadow: none;
}

form input {
    margin: 10px auto;
}

.phone-notice {
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: #505050;
}

button {
    width: 100%;
    background: #0077C5;
    border: 1px solid #0077C5;
    border-radius: 3px;
    padding: 10px 10px;
    color: white;
    font-size: 16px;
    
}


.captcha {
    width: 70%;
    font-size: 13px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    line-height: 1.5;
    color: #505050;
    
}

.recaptcha {
    font-size: 9px;
    background-color: #ECEEF1;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
    
}


input {
border: 1px solid #C1C5C8;
border-radius: 3px;
line-height: 1.3em;
font-size: 1.2em;
width: 320px;
min-width: 160px;
height: 34px;
}

.create-account-button {
    margin: auto;
    margin-top: 30px;
    display: block;
    width: 100%;
    
}



/* FOOTER */

.footer-list{
    
    width: 10%;
    margin: 25px auto 4px;
}

.footer-link {
    position: relative;
   text-decoration: none;
   font-size: 13px;
   color: #505050;
   padding-right: -10px
}


.footer-paragraph {
  width: 50%;
  text-align: center;
  margin: 0 auto 25px;
  font-size: 13px;
  color: #505050;
}